<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - CloverShop</title>
    </head>
    <body>
        <form method="POST" action="/admin/login">
            <p>Login</p><br>
            <input type="text" name="emailInput" placeholder="Email"><br>
            <input type="text" name="passwordInput" placeholder="Password"><br><br>
            <button type="submit">Log In</button>
        </form>
    </body>
</html>