<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create a new category - CloverShop</title>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>
        <form method="post" action="/admin/products/new" enctype="multipart/form-data">
            <p>Create a new product</p>

            <input type="file" name="productPicture"><br>
            <input type="text" name="productName" placeholder="Name"><br>
            <input type="text" name="productDescription" placeholder="Description"><br>
            <input type="number" name="productPrice" placeholder="Price"><br>
            <input type="number" name="productQuantity" placeholder="Quantity"><br>

            <% if(categories.length > 0) { %>
                <br><label for="categoryName">Category: </label>
                <select name="categoryName">
                <% categories.forEach((category)=> { %>
                    <option value="<%= category.name %>"><%= category.name %></option>    
                <% }) %>
                </select><br>
            <% } %>

            <input type="text" name="productSubcategory" placeholder="Subcategory"><br><br>

            <button type="submit">Create new product</button>
        </form>
    </body>
</html>