<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products - CloverShop</title>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>
        <p>Products</p>
        <a href="/admin/products/new"><button>New Product</button></a>
    </body>
</html>