<header>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <ul class="dashboard-navbar">
        <p class="dashboard-title">Dashboard</p>
        <li class="dashboard-item"><a><button class="dashboard-button">Home</button></a></li>
        <li class="dashboard-item"><a><button class="dashboard-button">Products</button></a></li>
        <li class="dashboard-item"><a><button class="dashboard-button">Shops</button></a></li>
        <li class="dashboard-item"><a><button class="dashboard-button">Orders</button></a></li>
    </ul>
        
</header>
<div class="light-line"></div>