<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout - CloverShop</title>
        <link rel="stylesheet" href="/css/cart.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <div class="cart-content">
                <div class="cart-items">
                    <div class="products-header">PRODUCTS</div>
                    <div class="light-line"></div>
                    <div class="cart-product">
                        <img class="cart-product-image" src="/images/placeholder.PNG">
                        <div class="cart-product-information">
                            <p class="cart-product-title">Placeholder</p>
                            <p class="cart-product-quantity">Quantity: 1</p>
                            <p class="cart-product-price">Price: $1.00</p>
                            <p class="cart-product-remove">Remove</p>
                        </div>
                    </div>
                    <div class="cart-product">
                        <img class="cart-product-image" src="/images/placeholder.PNG">
                        <div class="cart-product-information">
                            <p class="cart-product-title">Placeholder</p>
                            <p class="cart-product-quantity">Quantity: 1</p>
                            <p class="cart-product-price">Price: $1.00</p>
                            <p class="cart-product-remove">Remove</p>
                        </div>
                    </div><br>
                    <div class="light-line"></div>
                </div>
                <div class="cart-checkout">
                    <p>CHECKOUT</p>
                    
                </div>
            </div>
        </main>
    </body>
</html>