<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop :: CloverShop</title>
        <link rel="stylesheet" href="/css/shop.css">
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <main>
            <div class="shop-banner-content">
                <div class="shop-banner-title">
                    <p><%= category.name %></p>
                </div>
                <div class="shop-banner-description">
                    <p><%= category.description %></p>
                </div>
            </div>
            <div class="shop-content">
                <!-- <div class="shop-settings">
                    <div>
                        <p class="category-title">Category</p>
                        <div class="category-line"></div>
                        <input type="checkbox" class="category-item" name="test" value="test">
                        <label for="test">Test</label>
                        <br>
                    </div>

                </div> -->
                <div class="shop-container">
                    <div class="shop-item">
                        <div class="shop-item-image">
                        </div>
                        <div class="shop-item-title">
                            <p>Shop item</p>
                        </div>
                        <div class="shop-item-price">
                            <p>$0.00</p>
                        </div>
                    </div>

                    <div class="shop-item">
                        <div class="shop-item-image">
                        </div>
                        <div class="shop-item-title">
                            <p>Shop item</p>
                        </div>
                        <div class="shop-item-price">
                            <p>$0.00</p>
                        </div>
                    </div>

                    <div class="shop-item">
                        <div class="shop-item-image">
                        </div>
                        <div class="shop-item-title">
                            <p>Shop item</p>
                        </div>
                        <div class="shop-item-price">
                            <p>$0.00</p>
                        </div>
                    </div>

                    <div class="shop-item">
                        <div class="shop-item-image">
                        </div>
                        <div class="shop-item-title">
                            <p>Shop item</p>
                        </div>
                        <div class="shop-item-price">
                            <p>$0.00</p>
                        </div>
                    </div>

                    <div class="shop-item">
                        <div class="shop-item-image">
                        </div>
                        <div class="shop-item-title">
                            <p>Shop item</p>
                        </div>
                        <div class="shop-item-price">
                            <p>$0.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>